<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <ul class="nav">
      <li class="list-item">
        <a href="./index.html">index</a>
      </li>
      <li class="list-item">
        <a href="./about.html">about</a>
      </li>
    </ul>
  </header>
  <div class="container">
    <div class="title">
      <h1>Learn more about template</h1>
      <span>at <a href="https://github.com/Qxiaoqi/webpack" target="_blank">github</a></span>
    </div>
  </div>
</body>
</html>